*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.body {
  font-family: 'Comfortaa', cursive;
  background-color: $white;
  color: $black;
  margin: 0;
  padding: 0;
}

::selection {
  background-color: $orange;
  color: $black;
}

img {
  display: block;
  height: auto;
}

html {
  scroll-behavior: smooth;
}

.list {
  list-style: none;
  margin: 0;
}

.link {
  text-decoration: none;
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

p {
  padding: 0;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0;
}

a {
  color: $black;
  cursor: pointer;
  text-decoration: none;
}

.button{
  cursor: pointer;
  border: none;
  display: block;
  border-radius: 50px;
  background: $light-green;
  box-shadow: -7px 7px 19px 0px rgba(0, 0, 0, 0.39);
  color: $white;
  font-family: 'Arimo', sans-serif;
  text-align: center;
}

.button:hover{
  background-color: $orange;
}
.button:active{
  background-color: $orange;
}


.container {
  padding: 0 10px;
  margin: auto;
  width: 100%;
  position: relative;
}

.title{
  font-family: 'Arimo', sans-serif;
}


.menu-dropdown{
  position: absolute;
  border: 1px solid #646464;
  padding: 20px;
  background-color: #fff;
  z-index: 1000;
}
.menu-dropdown-list{
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.menu-dropdown{
  position: absolute;
  border: 1px solid #646464;
  padding: 0 20px;
  background-color: #fff;
  z-index: 1000;
  top: 90px;
  right: 99px;
  display: none;
}

.menu-dropdown.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.mobile-menu {
  border-left: 5px solid $green;
  height: 100vh;
  top: 0;
  right: 0;
  background-color: $white;
  position: fixed;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 999;
  transform: translateX(100%);

  &-container {
    position: relative;
    padding: 66px 30px 0 57px;
  }

  &__list {
    color: $black;
    font-size: 25px;
    font-weight: 400;
    line-height: 20px;
    text-align: right;
  }

  &__item {
    margin-bottom: 45px;
  }

  &__soc {
    &-item {
      font-size: 25px;
      font-weight: 400;
      margin-bottom: 20px;
    }
  }

}

.modal-btn-close {
  border: none;
  position: absolute;
  background: none;
  right: 15px;
  top: 25px;
}

.js-menu-container.is-hidden {
  transform: translateX(0);
}
